<!-- component -->
<div class="bg-gray-100 py-6 sm:py-12">
  <div class="py-3 sm:max-w-xl sm:mx-auto">
    <div class="bg-white shadow-lg border-gray-100 max-h-80	 border sm:rounded-3xl p-8 flex space-x-8">
      <div class="h-48 overflow-visible w-1/2">
          <%= image_tag "https://image.tmdb.org/t/p/original/#{movie.poster_path}", class: "rounded-3xl shadow-lg" %>
      </div>
      <div class="flex flex-col w-1/2 space-y-4">
        <div class="flex justify-between items-start">
          <h2 class="text-3xl font-bold"><%= movie.name %></h2>
          <div class="bg-yellow-400 font-bold rounded-xl p-2"><%= movie.vote_avg.round(2) %></div>
        </div>
        <div>
          <div class="text-sm text-gray-400">Movie</div>
          <div class="text-lg text-gray-800"><%= movie.release_date %></div>
        </div>
          <p class=" text-gray-400 max-h-40 overflow-y-hidden"><%= movie.description %></p>
        <%# <div class="flex text-2xl font-bold text-a"></div> %>
      </div>

    </div>
  </div>

</div>
