<div class="w-full bg-gray-100 p-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-4">
    <h1 class="font-bold text-4xl">Movies</h1>

    <% if user_signed_in? %>
      <%= link_to 'Favorite movies', favorites_path, class:'rounded-lg py-3 px-5 bg-white inline-block font-medium text-gray-600 hover:bg-gray-200'%>
    <% else %>
      <%= render 'shared/popup_favorites'%>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to 'New movie', new_movie_path, class:'rounded-lg py-3 px-5 bg-white inline-block font-medium text-gray-600 hover:bg-gray-200'%>
    <% else %>
      <%= render 'shared/popup_new_movie'%>
    <% end %>
  </div>

  <div id="movies" class="flex flex-wrap justify-between">
    <% @movie_decorator.collection.each do |movie| %>
      <%= render 'movies/movie', movie: movie %>
    <% end %>
  </div>
</div>
