<div class="w-full bg-gray-100 p-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1><%= @user.nickname %></h1>

  <%= render 'devise/follower_count', user: @user %>
  <div><%= @user.followees.count %> following</div>

  <% if @user == current_user %>
  <%= link_to 'edit profile', edit_user_registration_path %>
  <% elsif current_user %>
    <%= render 'devise/follow_button', user: @user %>
  <% end %>

  <h2>Favorite Movies:</h2>
  <div id="movies" class="flex flex-wrap justify-between">
    <% @favorite_movies.each do |movie| %>
      <%= render 'movies/movie', movie: movie %>
    <% end %>
  </div>
</div>
